*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
 
body{
    background: #051826;
    color:darkgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
 
img:hover{
    transform: scale(1.2);
    padding-left: 10px;
    padding-top: 10px;
}
/* estilo HEADER*/

/* header{
    background: tomato;
    height: 50px;
} */

/* estilo HEADER*/

/* estilo BARRA DE NAVEGACAO */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* estilo BARRA DE NAVEGACAO */

/* estilo HOME */

#home {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;

}

#home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  background: url('img/f4life.png') no-repeat center center/cover;
  height: 500px;
  width: 50%;
  z-index: -1;
  opacity: .8;
}



.homediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.homediv p {
    text-align: center;
}

.homediv ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    text-align: center;
  }
.no-bullets > li{
    padding-top: 10px;
}

.headings{
    font-family: Georgia;

    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
/* estilo HOME */


/* estilo MAIN*/   

.secao1 img{
    width: 280px;
    height: 200px;
    margin: 10px;
}
.secao1 h2{
    color: #19fcf6;
    text-align: center;
    width: 100vh;
}
.container-secao1 h1{
    padding-bottom: 20px;
    
}
.container-secao1 h3{
    color: #19fcf6;
    width: fit-content;
}
#moradia-compartilhada h2{
    margin-left: 300px;
    padding-top: 20px;
}
#kit-pronta h2{
    margin-left: 300px;
    padding-top: 20px;
}

.kits-personalizadas h2{
    margin-left: 300px;
    padding-top: 20px;
}
.kits-personalizadas h3{
    padding-top: 10px;
}
/* CONTATO */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
/* CONTATO */

/* estilo MAIN*/

/* estilo FOOTER*/
footer{
    background: #051826;
    height: 100px;
    display: flex;
    width: 100%;
}

footer img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-top: 5px;
}

.redes-sociais{
    display: flex;
    background-color: #19fcf6;
    
}
.redes-sociais h3{
    padding-left: 10px;
    color: #051826;
}

.assunto{
    height:170px;
    width: 253px
}

input{
    caret-color: #ff0043;
    width: 196px
    
}

.Nosso-time{

    padding-left: 50px;
    display: flex;
    
   }
   
   .Nosso-time h3{
    
       padding-right: 500px;
       color: white;
       text-align: center;
       font-style: italic
   
   }
   
   .Nosso-time p{
   
       color: white;
       padding-left: 10px;
       font-style: italic
      
   
   }

   .Trabalhe-conosco p{
   
   
    padding-right: 100px; 
    color: turquoise;
    text-align: right;
    font-style: italic;
  
    
   
 }
 
 .Trabalhe-conosco h1{
 
     color: white;
     text-align: right;
     bottom: 100px;
     margin: auto;
     padding-right: 100px;
     font-style: italic;
     
 }
 
 .Trabalhe-conosco img{
 
     
     padding-left: 800px;
 
 }
/* estilo FOOTER*/