*{
    margin:;
    padding: 0;
}
 
body{
    background: #051826;
    color:whitesmoke;
    width: 1280px;
    height: 1024px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
 
/* estilo HEADER*/

header{
    background: tomato;
    height: 50px;
}

/* estilo HEADER*/

/* estilo MAIN*/   
img:hover{
    transform: scale(1.2);
}
.secao1 img{
    width: 280px;
    height: 200px;
    margin: 10px;
}
.secao1 h2{
    background-color: darkgray;
    color: #19fcf6;
    text-align: center;
    width: 100vh;
}
.container-secao1 h3{
    background-color: darkgray;
    color: #19fcf6;
    width: fit-content;
}
#moradia-compartilhada h2{
    margin-left: 300px
}
#kit-pronta h2{
    margin-left: 300px
}

.kits-personalizadas h2{
    margin-left: 300px
}

/* estilo MAIN*/

/* estilo FOOTER*/
footer{
    background: #051826;
    height: 200px;
    display: flex;
}

footer img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.formulario-de-contato{
    caret-color: #ff0043;
    color: #19fcf6;
    margin-left: 150px;
    border: solid 2px white;
    font-family: monospace;
}
.formulario-de-contato .nome{
    margin-left: 21px;
}
.formulario-de-contato .email{
    margin-left: 7px;
}
.redes-sociais{
    display: flex;
    background-color: #19fcf6;
}
.redes-sociais h3{
    padding-left: 10px;
}
.assunto{
    height:70px;
    width: 253px
}

input{
    caret-color: #ff0043;
    width: 196px
    
}
/* estilo FOOTER*/